<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0" authCookieName=".SFAUTH-DemoProject" rolesCookieName=".SFROLES-DemoProject" validationKey="87B1A650EFA466E0B08135531E7CA1F13266E529F76B0C1977B24107D689CDF9F50E447C85A644A8AAB8CF8E1ABF9A91BDE602488DF2A316819CB57B7299BF77" decryptionKey="53231D79A8E15DB30D7F7582776ACFB6BF954681492D2A6A0A519FF19CAAD1C8" loggingCookieName=".SFLOG-DemoProject">
	<securityTokenIssuers>
		<add key="15DB72D40A8068F65DD62FC81E8976BFD73789F86C86C612BF901F878444DE2A" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="15DB72D40A8068F65DD62FC81E8976BFD73789F86C86C612BF901F878444DE2A" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="b2e33080-3864-4793-89ec-42f9cd6c8b3b" name="Everyone" config:flags="1" />
		<role id="de7b319a-c703-407b-b649-9781648a703b" name="Anonymous" config:flags="1" />
		<role id="eeca41bb-2e3a-4fe1-bd66-3604d6dd4224" name="Authenticated" config:flags="1" />
		<role id="bb31749d-63a8-4863-bf0d-c6851ff1a3c5" name="Owner" config:flags="1" />
		<role id="6100cd12-3dfe-4aa2-8c51-12e5a629f18d" name="Administrators" config:flags="1" />
		<role id="e0ed19a2-2284-4a1f-b306-fdaabfba9878" name="BackendUsers" config:flags="1" />
		<role id="565a3117-6a7f-422f-a13d-6c8a7d474d3f" name="Authors" config:flags="1" />
		<role id="58c11f38-1d74-4fcd-8152-71ec31ea9634" name="Editors" config:flags="1" />
		<role id="af5ba9e9-16fb-401c-8108-a5c2241cbb00" name="Designers" config:flags="1" />
		<role id="21e6f7e9-a7d1-42b9-8257-db8daaa46198" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>