@model SitefinityWebApp.Mvc.Models.Comment_RecentModel


    @foreach (var comment in ViewBag.Comments)
    {
        <div class="single_comments">
            <img src="/images/default-source/Project/blog/avatar3.png" alt="" />
            <p>@comment.Message</p>
            <div class="entry-meta small muted">
                <span>By <a href="#">@comment.Author.Name</a></span><span>On <a href="#">Creative</a></span>
            </div>
        </div>
      <br />
    }